@tailwind base;
@tailwind components;
@tailwind utilities;

/* POPPINS  */
@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins/Poppins-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins/Poppins-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins/Poppins-Black.ttf");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* ROBOTO */
@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Black.ttf");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
/* INTER */
@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter-Black.ttf");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
