@tailwind base;
@tailwind components;
@tailwind utilities;

/* POPPINS  */
@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins/Poppins-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins/Poppins-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins/Poppins-Black.ttf");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* ROBOTO */
@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto/Roboto-Black.ttf");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
/* INTER */
@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter-Bold.ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter/Inter-Black.ttf");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

* {
	box-sizing: border-box;
}
html {
	background-image: linear-gradient(to top, hsl(192, 15%, 18%), hsl(205, 13%, 37%));
	/* bg-gradient-to-t from-gunMetal to-blackCoral */
}

.gradient-transition {
	background-image: linear-gradient(
		to top,
		hsl(192, 8%, 28%),
		hsl(192, 8%, 32%)
	);
	z-index: 1;
}
.gradient-transition::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.375rem;
	background-color: #384042;
	z-index: -1;
	transition: opacity 0.2s linear, background-color 0.08s linear;
	opacity: 0;
}

.gradient-transition:hover::before {
	opacity: 1;
}

.gradient-transition:active::before {
	background-color: #2c3334;
}

.logout-transition {
	background-image: linear-gradient(to top, hsl(0, 0%, 20%), hsl(0, 0%, 32%));
	z-index: 1;
}
.logout-transition::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 1rem;
	background-color: hsl(0, 0%, 25%);
	z-index: -1;
	transition: opacity 0.2s linear, background-color 0.08s linear;
	opacity: 0;
}

.logout-transition:hover::before {
	opacity: 1;
}

.logout-transition:active::before {
	background-color: hsl(187, 8%, 19%);
}

@layer components {
	.loading-dot {
		@apply absolute w-5 h-5 rounded-full bg-slate-200;
	}
}
